# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# ML / large binary files
*.faiss
*.pt
*.pth
*.onnx
*.h5
dietary_reference_intakes/
logs/

# OS / editor
.DS_Store
.vscode/
venv/
*.pyc
__pycache__/
